@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.font-ibm {
    font-family: 'IBM Plex Sans', sans-serif;
}

:root {
    font-family: "Space Grotesk", 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;

    --night: #131212ff;
    --eerie-black: #1C1C1Cff;
    --outer-space: #454746ff;
    --battleship-gray: #818982ff;
    --davys-gray: #605957ff;
    --cinereous: #9F928Cff;
    --russet: #844421ff;
    --brown-sugar: #C38365ff;
    --transparent-brown-sugar: rgba(239, 181, 154, 0.3);
    --wenge: #775D59ff;
    --platinum: #E7E5E6ff;
}

body {
    /* background-color: red; */
    /* width: 100vw;
    height: 100vh; */
}

img {
    /* width: 200px;
    height: auto; */
}