@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* animation for the triangle/arrow icon above the bear's head */
@keyframes markerUpDown {
    0% {
        transform: rotate(180deg) translateY(0);
    }

    50% {
        transform: rotate(180deg) translateY(-10px);
    }

    100% {
        transform: rotate(180deg) translateY(0);
    }
}

.markerUpDown {
    animation: markerUpDown 1s ease-in-out infinite alternate;
    transition: transform 0.5s ease;
}


/* Animation for the bear paw */
@keyframes wave {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(14deg); }
    30% { transform: rotate(-8deg); }
    40% { transform: rotate(14deg); }
    50% { transform: rotate(-4deg); }
    60% { transform: rotate(10deg); }
    70% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.wave {
    transition: transform 0.3s ease;
    transform-origin: bottom left;
}

.wave:hover {
    animation: wave 2s ease-in-out;
}


/* Animation for the bear paw */
@keyframes side-to-side{
    0% { transform: scale(1.15) rotate(-8deg); }
    15% { transform: scale(1.13) rotate(0deg); }
    30% { transform: scale(1.11) rotate(8deg); }
    40% { transform: scale(1.09) rotate(0deg); }
    50% { transform: scale(1.07) rotate(-8deg); }
    60% { transform: scale(1.05) rotate(0deg); }
    70% { transform: scale(1.02) rotate(8deg); }
    100% { transform: scale(1) rotate(0deg); }
}

.side-to-side:hover {
    animation: side-to-side 0.8s ease-out;
    animation-iteration-count: 1;
    /* transform-origin: center bottom; */
}

/* Font from google fonts */
:root {
    font-family: "Space Grotesk", 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* Color palette */
    --night: #131212ff;
    --eerie-black: #1C1C1Cff;
    --outer-space: #454746ff;
    --battleship-gray: #818982ff;
    --davys-gray: #605957ff;
    --cinereous: #9F928Cff;
    --russet: #844421ff;
    --brown-sugar: #C38365ff;
    --transparent-brown-sugar: rgba(239, 181, 154, 0.3);
    --hover-brown-sugar: rgb(215, 164, 140);
    --wenge: #775D59ff;
    --platinum: #E7E5E6ff;
}
/* Highlight transitions for the navbar's links and text */
.nav-link.active .nav-line {
    width: 3.4rem; 
}

.nav-link.active .nav-text {
    opacity: 1;
}


/* transition on scroll for each content */
.content {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.7s ease-in-out;
    transform: translateY(36px);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
/* If a user doesnt want transitions, disable them */
@media(prefers-reduced-motion) {
    .content {
        transition: none;
    }
}
  